* {
  margin: 0;
  padding: 0;
}

.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* imported the fonts thanks to this explanation on the google font API (and thanks to the lesson on APIs!) https://developers.google.com/fonts/docs/getting_started
 */

.Nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(/media/background-texture.png);
  background-size: cover;
}

.dragon-image {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: -60px;
  margin-left: 50px;
}

.shop-container {
  background-color: #f5f7f8;
}

.spell-list-item {
  padding: 1rem;
  background-image: url(/media/page-texture.png);
}

.spell-list-item:hover {
  cursor: pointer;
}

.closed-book {
  height: 200px;
}

.open-book {
  display: none;
  height: 200px;
}

.scale-counters {
  color: whitesmoke;
  font-family: "Nunito";
  font-size: 1.5rem;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px;
  align-content: space-evenly;
}

.reset-button {
  background-color: #3a2a4d;
  color: whitesmoke;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  position: relative;
  z-index: 1; /* in order for the reset button to always be accessible in front of the dragon image i need to set the z axis but this also leaves it visible on the title screen and i can't figure out a fix right now.. */
}

.title-screen {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
  background-image: url(/media/title-screen-1.png);
  background-size: cover;
  background-position: bottom;
  position: fixed;
  width: 100%;
  height: 100%;
}

.title-text {
  display: grid;
  font-family: "Darumadrop One";
  font-size: 8rem;
  justify-items: center;
  line-height: 0.8em;
  width: auto;
  margin-left: 25vh;
  padding: 1rem;
  color: #f5f7f8;
  grid-column: 1 / 4;
}

.intro-text {
  color: rgb(252, 232, 255);
  font-family: "Nunito";
  display: grid;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  padding: 6rem;
  padding-top: 1.2rem;
  padding-right: 7rem;
  font-size: 1.4rem;
  text-align: justify;
}

.button-start {
  display: grid;
  grid-column: 3;
  grid-row: 3;
  height: fit-content;
  padding: 1.5rem;
  font-family: "Darumadrop One";
  font-size: 1.3rem;
  background-color: #f8df6b;
  color: #3a2a4d;
  border: none;
  border-radius: 15px;
}
